.cont{
  height:10vh;
  margin: 8vh 0;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.innerCont{
  text-align: center;
  font-size: var(--equationFS);
  color:rgba(241, 240, 240, 0.93);
  display: flex;
  align-items: center;
  justify-content: space-around;

}
mat-form-field{
  font-size: calc(var(--inputErrFS) + 0.4rem);
  padding-left: 0.7rem;
  width: var(--formFieldW);
  border: none;
  margin-bottom: 1rem;
  line-height: auto;
}

mat-form-field-label{
  top:1em;
  font-size: var(--placeholderFS);
}

mat-label{
  color:rgba(241, 240, 240, 0.933);
  margin-bottom: 0.3rem;
}
mat-error{
  font-size: var(--inputErrFS);
}

.equation{
  padding-bottom: var(--equationPadding);
}

::ng-deep .mat-form-field-infix{
padding: 0;
border-top: 0;
/* padding-bottom:var(--placeholderPaddingB);0.7rem */
}

::ng-deep .mat-form-field-label-wrapper{
  top:var(--placeholderTop);
  padding-top:1.2em;
}
input{
  font-size: calc(var(--equationFS) - 0.1rem);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.wrongResult, .correctResult{
  font-size: var(--equationFS);
  height:var(--equationFS);
  width: var(--equationFS);
  margin-bottom: 1rem;
}

