<div class="cont">
  <div class="innerCont">

    <div class="equation"> <span data-cy="firstNum">{{firstNum}}</span> + <span data-cy="secondNum">{{secondNum}}</span> =</div>

      <mat-form-field appearance="standard" class="form-field" [hideRequiredMarker]="true">

        <mat-label>Result</mat-label>

          <input
            min="0"
            max="999"
            matInput
            type="number"
            #resultInput
            (keydown.enter)="submitResult(resultInput.valueAsNumber)"
            (click)="resetWrongMessage()"
            [formControl]="resultForm"
            data-cy="input"
            >

          <mat-error *ngIf="resultForm.invalid" data-cy="errorMessage">Enter value</mat-error>

      </mat-form-field>


    <div
    *ngIf="wrongAnswer"
    class="wrongResultContainer">
      <mat-icon
      class="wrongResult"
      style="color: red;"
      data-cy="resultRedX"
      >close</mat-icon>
    </div>

    <div *ngIf="correctAnswer" class="correctResultContainer">
      <mat-icon
      class="correctResult"
      style="color: green"
      data-cy="resultGreenCheck"
      >check_circle_outline</mat-icon>
    </div>

  </div>

</div>
