<div class="cont">
  <div class="innerCont">

    <div class="equation" style="padding-bottom: 2.7rem;">{{firstNum}} + {{secondNum}} =</div>

      <mat-form-field appearance="standard" class="form-field" [hideRequiredMarker]="true">

        <mat-label>Result</mat-label>

          <input
            matInput
            type="number"
            #resultInput
            (keydown.enter)="submitResult(resultInput.valueAsNumber)"
            (click)="resetWrongMessage()"
            [formControl]="resultForm"
            >

          <mat-error *ngIf="resultForm.invalid">Enter value</mat-error>

      </mat-form-field>


    <div *ngIf="wrongAnswer" class="wrongResultContainer">
      <mat-icon
      class="wrongResult"
      style="color: red; "
      >close</mat-icon>
    </div>

    <div *ngIf="correctAnswer" class="correctResultContainer">
      <mat-icon
      class="correctResult"
      style="color: green"
      >check_circle_outline</mat-icon>
    </div>

  </div>

</div>
