/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --headerfs: 3rem;
  --headerMB:0;
  --historyItemFS:1rem;
  --equationFS:2rem;
  --cardWidth:55vw;
  --inputErrFS:1rem;
  --formFieldW:6rem;

  --placeholderFS:0.7rem;
  --placeholderTop:0em;
  --equationPadding:0.7rem;

}

/* XXSmall */
@media (max-width: 429.98px){
  :root{
    --headerFS: 1.8rem;
    --equationFS:1.5rem;

    --equationPadding:1.85rem;
    --placeholderTop:-1.35em;
  }
}
/* XSmall */
@media (min-width: 430px) and (max-width: 599.98px){
  :root{
    --headerFS: 2.5rem;
    --equationFS:1.9rem;
    --inputErrFS:1.15rem;
    --cardWidth: 60vw;

    --equationPadding:2.1rem;
    --placeholderTop:-1.35em;
  }
}
/* Small */
@media (min-width: 600px) and (max-width: 959.98px){
  :root{
    --headerFS: 4rem;
    --equationFS:2.5rem;
    --inputErrFS:1.15rem;
    --cardWidth: 60vw;

    --equationPadding:1.9rem;
    --placeholderTop:-1.1em;
  }
}
/* Medium */
@media (min-width: 960px) and (max-width: 1279.98px){
  :root{
    --headerFS: 4.5rem;
    --historyItemFS:1.2rem;
    --headerMB:2vh;
    --equationFS:3.3rem;
    --cardWidth: 60vw;
    --formFieldW:7.5rem;
    --inputErrFS:1.45rem;

    --equationPadding:2.05rem;
    --placeholderTop:-0.9em;
  }
}
/* Large */
@media (min-width: 1280px) and (max-width: 1919.98px){
  :root{
    --headerFS: 6rem;
    --historyItemFS:1rem;
    --headerMB:2vh;
    --equationFS:3.6rem;
    --formFieldW:8.5rem;
    --inputErrFS:1.65rem;

    --equationPadding:2.2rem;
    --placeholderTop:-0.92em;
  }
}
/* XLarge */
@media (min-width: 1920px){
  :root{
    --headerFS: 6.5rem;
    --historyItemFS:1rem;
    --headerMB:2vh;
    --equationFS:3.6rem;
    --formFieldW:8.5rem;
    --inputErrFS:1.65rem;
    --equationPadding:2rem;
  }
}
